################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dfc.ProviderPortal.ChangeFeedListener/v16
/.vs/Dfc.ProviderPortal.ChangeFeedListener/DesignTimeBuild
/.vs/Dfc.ProviderPortal.ChangeFeedListener/v15/Server/sqlite3
/.vs/Dfc.ProviderPortal.ChangeFeedListener/v15/.suo
/.vs/dfc-providerportal-changefeedlistener/v15/.suo
/.vs/slnx.sqlite
/.vs/config/applicationhost.config
/.vs/VSWorkspaceState.json
